* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right, #0f172a, #0d9488);
    display: flex;
    justify-content: center;
    align-items: center;
  }


.area {
    background-color: #000;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #00c291;
    width: 100%;
    max-width: 400px;
}

form p {
    margin-bottom: 15px;
}

label {
    display: block;
    color: white;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type=text],
input[type=email],
input[type=password],
input[type=date] {
    width: 100%;
    padding: 12px;
    border: 1px solid #009b2e;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.enviar {
    width: 100%;
    background-color: #00c291;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.enviar:hover {
    background-color: #009b7c;
}

legend {
    text-align: center;
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}
